<html>
<head>
    <link type="text/css" rel="stylesheet" href="/css/main.css">
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.css">
    <link type="text/css" rel="stylesheet" href="/css/materialize.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
<header>
    <nav class="main-navigator">
        <div class="nav-wrapper">
            <a href="#" class="brand-logo">Motor De Inferencia</a>
            <a href="#" data-activates="mobile" class="button-collapse"><i class="material-icons">menu</i></a>
        </div>
    </nav>
</header>
<main>
    <div class="container">
        <h2 class="header center-align">75.69 – Sistemas automáticos de diagnóstico y detección de fallas II</h2>
        <div class="row">
            <div class="col s12 m12">
                <div class="card">
                    <div class="card-content">
                        <div class="panel panel-default">
                          <!-- Table -->
                          <table class="table table-striped ">
                            <thead>
                            <tr>
                                <th data-field="nombre">Apellido y Nombre</th>
                                <th data-field="padron">Padrón</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>FARINA, FEDERICO</td>
                                <td>90177</td>
                            </tr>
                            <tr>
                                <td>DAYE GISELA</td>
                                <td>87602</td>
                            </tr>
                            <tr>
                                <td>VAZQUEZ, NICOLAS</td>
                                <td>89172</td>
                            </tr>
                            </tbody>
                        </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<script type="text/javascript" src="/js/jquery-2.1.1.min.js"></script>
<script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>
<script type="text/javascript" src="/js/materialize.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $(".button-collapse").sideNav();
    });
</script>
</body>
</html>
